---
import Layout from "../layouts/Layout.astro";
import Cat from "../components/Cat.astro";
---

<Layout title="Welcome">
  <main class="fullScreen flex flex-col">
    <div class="flex flex-col items-center mt-10">
      <Cat />
      <div class="typewriter">
        <h1
          class="text-5xl overflow-hidden border-r-[20px] whitespace-nowrap m-auto tracking-wide h-14"
        >
          Igor Oliveira Rodrigues
        </h1>
      </div>
      <span class="text-gray-500 text-lg opacity-50">Junior Web Developer Fullstack</span>
    </div>
  </main>
</Layout>

<style>
  .typewriter h1 {
    animation:
      typing 1.5s steps(30, end),
      blink-caret 0.65s step-end infinite;
  }
</style>
