---
import Layout from "../layouts/Layout.astro"
import Cat from "../components/Cat.astro";
---

<Layout title="Welcome">
	<main class="fullScreen flex items-center justify-center">
		<Cat />
	</main>
</Layout>