---
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];

const { title, description, image, slug } = Astro.props;
---

<a href={`/blog/${slug}`} class="w-full h-full">
  <div class="h-full w-full">
    <img src={image} class="w-full h-1/2" />
    <div class="w-full flex flex-col border-2 border-gray-700 h-1/2">
      <h1
        class="font-extrabold uppercase gradient-in-text text-xl p-2 border-b border-gray-700"
      >
        {title}
      </h1>
      <p class="p-2 opacity-80">{description}</p>
    </div>
  </div>
</a>
