---
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];

const { title, description, slug } = Astro.props;
---

<a href={`/blog/${slug}`}>
  <div>
    <h2>{title}</h2>
    <p>{description}</p>
  </div>
</a>
