---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={"Personal website"} />
  </head>
  <body class="bg-theme text-white mx-96">
    <ViewTransitions />
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      .fullScreen {
        height: -moz-calc(100vh - 146px); /* Firefox */
        height: -webkit-calc(100vh - 146px); /* Chrome, Safari */
        height: calc(100vh - 146px); /* IE9+ and future browsers */
        width: -moz-calc(100vw - 768);
        width: -webkit-calc(100vw - 768);
        width: calc(100vw - 768);
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: #ed5ab3;
        }
      }
    </style>
  </body>
</html>
